html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.task {
  margin-top: 50px;
  text-align: center;
}

.review li {
  margin-top: 20px;
}

.task h1 {
  margin-bottom: 30px;
}

.task {
  padding-bottom: 40px;
}

.participants, .albums {
  text-align: left;
}

.groupInfo ul {
  margin-top: 15px;
}

.groupInfo ul li:not(:last-child) {
  margin-bottom: 10px;
}

.receipt {
  text-align: left;
}

.receipt img {
  width: 300px;
}

.receipt h2 {
  margin-bottom: 10px;
}

.receipt .ingredientsList {
  margin-bottom: 30px;
}

.receipt .tutorialList li:not(:last-child){
  margin-bottom: 10px;
}